<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600&family=Josefin+Slab&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="h-100">

  <button onclick="connect()">Connect</button>
  <button onclick="join()">Join room</button>
  <button onclick="disconnect()">Disconnect</button>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io("http://localhost:7000");
    const userId = prompt('Enter user id');

    function connect() {
      socket.emit("init connection", userId);
    }

    function join() {
      socket.emit();
    }

    function disconnect() {
      socket.emit("bye", userId);
    }

    socket.on('appointment starting', function(message){
      console.log("recieved notification for appointment starting");
      console.log(message);
    });
  </script>
</body>

</html>